@charset "utf-8";
/*CSS Document*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  cursor: url('img/img_web/cursor.svg') 10 10, auto;
}



/* --------------------------- Header ------------------------------ */
header {
  display: flex;
  height: 140px;
  justify-content: center;
  background: #F1F0CC;
  padding: 10px 30px;
  gap: 400px;
}

.logo {
  display: flex;
  flex: row;
  align-items: center;
  gap: 10px;
}

 nav a {
  text-decoration: none;
  color: #0E0E33;
  letter-spacing: 2px;
  transition: color 0.3s ease; 
}

nav a:hover {
  color: white; 
  background: #0E0E33; 
  padding: 15px;
  border-radius: 20px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-family: Marcellus;
  line-height: 42px; 
}

a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  font-family: Marcellus;
}

.logo p {
  color: #0E0E33;
  font-family: Marcellus;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2.4px;
}



/* ---------------------- main _index -------------------------- */
.video-wrapper {
  height: 100vh; 
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  z-index: 1;
}

.boton-ingresar {
  position: absolute;
  margin-top: -200px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(14, 14, 51, 0.8);
  padding: 20px 60px;
  border-radius: 30px;
  transition: background 0.3s ease;
}

.boton-ingresar p {
  color: #F1F0CC;
  font-family: Marcellus;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2.4px;
}

.boton-ingresar:hover {
  background-color: #F1F0CC;
}

.boton-ingresar:hover p {
  color: #0E0E33;
}


/* ----------------------- catalogo -------------------------- */
.main_catalogo {
  background-image: url(img/img_web/web_catalogo_texturas.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  flex-direction: column; 
  align-items: center;     
  gap: 40px;
  margin: auto;
}

.main_catalogo p {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 320px;
  color: #0E0E33;
  font-family: "Roboto";
  font-size: 0,8rem;
  line-height: 30px;
  letter-spacing: 2px;
}

.main_catalogo section {
  gap: 40px;
}

.boton-vermas {
  background: #F1F0CC;
  color: #0E0E33;
  font-family: Marcellus;
  font-size: 22px;
  padding: 10px 25px;
  border-radius: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
}

.boton-vermas:hover {
  color: #F1F0CC; 
  background: #0E0E33; 
  padding: 15px;
  border-radius: 20px;
}

.main-catalogo {
  background-image: url(img/img_web/web_texturas_catalogo_extendido.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  flex-direction: column; 
  align-items: center;     
  gap: 40px;
  margin: auto;
}



/* ----------------- Galeria visible - catalogo -------------------- */
.galeria-visible {
  display: grid;
  grid-template-columns: repeat(4, auto); 
  column-gap: 20px;                       
  row-gap: 30px;                          
  justify-content: center;               
  padding: 40px 0;                        
}

.galeria-visible a img {
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.galeria-visible a img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.galeria-visible p {
  margin-bottom: 30px;
  width: 320px;
  color: #0E0E33;
  font-family: "Roboto";
  font-size: 0,8rem;
  line-height: 30px;
  letter-spacing: 2px;
}



/* -------------------- Galería oculta - catalogo ----------------------- */
.galeria-oculta {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.galeria-oculta ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-contenido {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: #fff;
  text-align: center;
}

.popup-contenido:target {
  display: flex;
}

.popup-contenido img {
  border-radius: 10px;
  margin-bottom: 16px;
}

.popup-contenido p {
  margin-top: 0; 
  font-size: 20px;
  max-width: 600px;
  font-family: "Roboto";
  color: #F1F0CC;
}

.popup-contenido button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #F1F0CC;
  border: none;
  color: #0E0E33;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.popup-contenido button:hover {
  background-color: #0E0E33;
  color: #F1F0CC;
}



/* --------------------- historia ----------------------------- */
.textura_historia {
  background-image: url(img/img_web/web_textura_historia.jpg);
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-direction: column; 
  align-items: center;     
  gap: 40px;
  margin: auto;
}

.quienes_somos {
  display: inline-flex;
  flex-direction: column;
  gap: 203px;
  max-width: 576px;
  margin-right: 800px;
  margin-top: 50px;
}

.quienes_somos p {
  color: #F1F0CC;
  text-align: right;
  font-family: "Sofia Sans Extra Condensed";
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
 
.quienes_somos h1 {
  color: #F1F1CC;
  text-align: right;
  font-family: "Sofia Sans Extra Condensed";
  font-size: 100px;
  line-height: 110px;
  letter-spacing: 10px;
}

.bloque1 {
  display: flex;
  flex-direction: row;
  margin-left: -300px;
  align-items: flex-end;
}

.bloque1 img {
  margin-left: 90px;
  margin-top: 300px;
}


.bloque1 h2 {
  margin-left: 40px;
  color: #F1F1CC;
  font-family: "Sofia Sans Extra Condensed";
  font-size: 100px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.bloque1 p {
  margin-left: 40px;
  color: #F1F0CC;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2.4px;
  max-width: 900px;
}

.texto_pl {
  margin-top: 30px;
}

.bloque2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: -500px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.bloque2 h3 {
  max-width: 500px;
  color: #F1F0CC;
  text-align: right;
  font-family: "Sofia Sans Extra Condensed";
  font-size: 100px;
  line-height: 110px;
  text-transform: uppercase;
  padding-right: 40px;
}



/* ------------------- taller ------------------------ */
.main-taller {
  display: flex;
  flex-direction: row;
  background-image: url(img/img_web/web_textura_taller.jpg);
  background-size: cover;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 150px;
  padding-bottom: 150px;
  justify-content: center;
}

/* -------------------- formulario -------------------- */
form {
  width: 90%;           
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

form div { 
  flex: 1;
  width: 50%;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  height: 30px; 
  gap: 2px;
  color: #0E0E33;
  text-align:left;
  font-family: Marcellus;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  max-width: 60%;
}

label[type=checkbox] {
  align-items:left;
}

input {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #0E0E33;
  color: #0E0E33;
  margin-bottom: 20px;
  Padding: 5px;
  background-color: #F1F0CC;
}

input[type=checkbox] {
  width: auto;
  height: auto; 
  margin: 15px 10px;
  cursor: pointer;
}

input[type=submit], input[type=reset] {
  height: 30px;
  width: 150px;
  border: #0E0E33;
  Color: #F1F0CC;
  border-radius: 10px;
  cursor: pointer;
  gap: 20px;
  margin: 20px 0;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #0E0E33;
}

textarea {
  Border: 1px solid #0E0E33;
  background-color: #F1F0CC;
  Width: 100%; 
  Height: 200px;
  border-radius: 10px; 
  padding: 5px;
} 

::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #0E0E33;
}

.contacto-personal ul {
  border: #0E0E33;
  color: #0E0E33;
  text-align: center;
  font-family: Marcellus;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  padding: 100px 20px 30px 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.texto-preformulario {
  text-align: center;
  padding: 40px 30px 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 85%;
  align-items: center;
}

.campos {
  color: #0E0E33;
  border: #0E0E33;
  text-align: right;
  font-family: Marcellus;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  max-width: 60%;
}

.formulario {
  Border: 1px solid #0E0E33;
  background-color: #F1F0CC;
  Width: 70%; 
  Height: 500px;
  display: flex;
  border-radius: 20px;
  margin-bottom: 40px;
  max-width: 800px;
}

.columna-izquierda-formulario .columna-derecha-formulario {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.ayuda {
  Height: 30px; 
  padding-top: 10px;
  padding-bottom: 30px;
  color: #0E0E33;
  text-align:left;
  font-family: Marcellus;
} 



/* -------------------- info taller -------------------- */
.info-taller {
  padding: 50px;
}

.info-taller h1 {
  color: #F1F0CC;
  font-family: "Sofia Sans Extra Condensed";
  font-size: 70px;
  letter-spacing: 3px;
  text-transform: uppercase;
    
}

.info-taller p {
  color: #F1F0CC;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2.4px;
  max-width: 500px;    
}



/* ----------------------- contacto ------------------------------ */
.main-contacto {
  background-image: url(img/img_web/web_texturas_contacto.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
  gap: 50px;
}

.ubicacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 150px;
}

.ubicacion h2 {
  color: #0E0E33; 
  text-align: right;
  font-family: "Sofia Sans Extra Condensed";
  font-size: 90px;
  line-height: 110px;
  letter-spacing: 10px;
}

.ubicacion-mapa p {
  color: #0E0E33;
  font-family: "Sofia Sans Extra Condensed";
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 400px;
  margin-left: 250px;
  margin-top: 30px;
}

.redes-sociales {
  margin-top: 100px;
  margin-left: 700px;
}

.redes-sociales h2 {
  color: #0E0E33; 
  text-align: right;
  font-family: "Sofia Sans Extra Condensed";
  font-size: 90px;
  line-height: 110px;
  letter-spacing: 10px;
  margin-right: 800px;
}

.redes-sociales p {
  color: #0E0E33; 
  font-family: "Sofia Sans Extra Condensed";
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.redes-sociales ul li {
  margin-top: 25px;
  margin-bottom: 25px;
  list-style: none;
}


/* ------------------------ footer ------------------------------ */
footer {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: #F1F0CC;
}

footer p {
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #0E0E33;
  font-size: 22px;
  font-weight: 700;
  font-family: Marcellus;
}


/* -------------------- menú hamburguesa y responsive -------------------- */
.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: #0E0E33;
  cursor: pointer;
}



/* ------------------- mobile 600px ---------------------- */
@media screen and (max-width: 600px) {

  /* ----- header y nav ----- */
  .menu-toggle {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    color: #0E0E33;
    cursor: pointer;
    margin-left: auto;
  }

  header {
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 20px;
    height: auto;
    width: 100%;
    max-width: 100%;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    position: relative;
  }

  .logo img {
    width: 50px;
    height: auto;
  }

  .logo p {
    font-size: 16px;
  }

  .botones {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%; 
    right: 0;
    color: #F1F0CC;
    width: 40%;
    background-color: #F1F0CC;
    z-index: 100;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .botones a {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    border-radius: 10px;
    border:1px solid #0E0E33;
    color: #0E0E33;
    font-size: 14px;
    width: 50%;
  }

  .botones.activo {
    display: flex;
  }

  /* ----- video ----- */

  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;           
    pointer-events: none;  
  }

  /* ----- galería visible a 2 columnas ----- */
  .galeria-visible {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .galeria-visible p {
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
  }

  .galeria-visible a img {
    width: 100%;
    height: auto;
  }

  /* ----- galeria oculta ----- */
  .galeria-oculta {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
  }

  .popup-contenido img {
    width: 90%;
    height: auto;
  }

  .popup-contenido p {
    font-size: 16px;
    padding: 10px;
  }


  /* ----- main ----- */
  .main_catalogo {
    padding: 20px;
    gap: 20px;
  }

  .main_catalogo section {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  /* ----- boton ver mas ----- */
  .boton-vermas {
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
    text-align: center;
  }

  /* ----- formulario taller -----*/

  .main-taller {
    display: flex;
    flex-direction: row;
    background-image: url(img/img_web/mobile_textura_taler.jpg);
    background-size: cover;
    padding: 100px;
    justify-content: center;
  }

  .main-taller {
    flex-direction: column;
    align-items: center;
  }

  .formulario {
    width: 90%;
    height: auto;
  }

  form div {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .ayuda p,
  .campos {
    max-width: 100%;
    text-align: center;
  }

  /* ----- historia -----*/
  .textura_historia {
    background-image: url(img/img_mobile/mobile_textura_historia.jpg);
  }

  .quienes_somos {
    margin-right: 200px;
  }

  .quienes_somos p {
    text-align: unset;
    max-width: 250px;
    margin-left: 50px;
  }

  .quienes_somos h1 {
    font-size: 80px;
  }

  .bloque1 {
    flex-direction: column-reverse;
  }

  .bloque1 h2 {
    font-size: 50px;
  }

  .bloque1 p {
    font-size: 20px;
    max-width: 500px;
  }   

  .bloque1 img {
    height: 600px;
    margin-left: 190px;
    margin-top: 50px;
  }

  .bloque2 img {
    height: 400px;
    margin-right: 300px;
  }


  .bloque2 h3 {
    font-size: 40px;
    padding-right: 30px;
    line-height: unset;
  }

  .bloque2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }


  /* ----- contacto -----*/

  .main-contacto {
    background-image: url(img/img_mobile/mobile_texturas_contacto.jpg);
    padding-top: 80px;
    padding-left: unset;

  }

  .ubicacion {
    margin-left: 100px;
  }

  .ubicacion h2 {
    font-size: 70px;
  }

  .ubicacion-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ubicacion-mapa iframe {
    width: 400px;
  }

  .redes-sociales h2 {
    font-size: 70px;
    margin-right: unset;
  }

  .ubicacion-mapa p {
    margin-left: unset;
  }

  .redes-sociales ul li p {
    display: none;
  }

  .redes-sociales ul {
    display: flex;
    gap: 40px;
    padding: 30px;
  }

  .redes-sociales ul li {
    margin: 0;
  }

  .redes-sociales ul li img {
    width: 70px;
    height: 70px;
  }

  .redes-sociales {
    margin-top: 100px;
    margin-left: unset; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Footer */
  footer p {
    font-size: 10px;
    text-align: center;
    padding: 20px;
  }
}