*{
    
}


















































































































































































































































































































































































































































































































@charset "utf-8";
/* CSS Document */
*{
    margin: 0px;
    padding: 0px;
}
/* catalogo */
*body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(\img\img web\web_texturas_catalogo_extendido.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 40px auto;
    padding: 30px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

header {
    display: flex;
    width: 1920px;
    height: 105px;
    padding: 10px 241px;
    justify-content: center;
    align-items: center;
    gap: 487px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 281px;
    height: 38px;
}

.logo p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px; 
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    color: #0e0e33;
}

nav {
    display: flex;
    width: 575px;
    align-items: flex-end;
    align-content: flex-end;
    gap: 1px 43px;
}

.botonvermas {
    width: 204px;
    height: 53px;
}
:horizontal gbhgb