@charset "utf-8";
/* CSS Document */
*{
    margin: 0px;
    padding: 0px;
}
/* catalogo */
*body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(\img\img web\web_texturas_catalogo_extendido.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 40px auto;
    padding: 30px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

header {
    display: flex;
    width: 1920px;
    height: 105px;
    padding: 10px 241px;
    justify-content: center;
    align-items: center;
    gap: 487px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 281px;
    height: 38px;
}

.logo p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px; 
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    color: #0e0e33;
}

nav {
    display: flex;
    width: 575px;
    align-items: flex-end;
    align-content: flex-end;
    gap: 1px 43px;
}

.botonvermas {
    width: 204px;
    height: 53px;
}

header {
  width: 100%;
  background: #F1F0CC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;      
  top: 0;  
  left: 0;                     
}

.logo {
display: flex;
align-items: center;
gap: 40px;
}

.logo p {
color: #0E0E33;
font-family: Marcellus;
font-size: 24px;
letter-spacing: 2.4px;
}

nav {
display: flex;
height: 38px;
align-content: flex-end;
gap: 1px 43px;
flex-wrap: wrap;
/* botones */
font-family: Marcellus;
line-height: 42px; 
text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: #0E0E33;
    letter-spacing: 2px;
}

nav a:hover {
color: #0E0E33;
}

/* MAIN */
/* VIDEO DE FONDO */
.video-wrapper {
  height: 100vh; 
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding-top: 96px; 
  padding-bottom: 80px;
}

/* FOOTER */
footer {
  width: 100%;
  background: #F1F0CC;
  text-align: center;
  padding: 1rem 0;
  font-family: Marcellus;
}

footer p {
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #0E0E33;
}
